<!-- Product (Tab with Slider) -->
<section class="section-padding">
  <div class="container">
    <h2 class="page-title">Featured Stories</h2>
  </div>
  <div class="container">
    <ul class="product-filter nav" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#latest" role="tab" data-toggle="tab"
          >New Stories</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#best-sellar" role="tab" data-toggle="tab"
          >Featured Stories</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features" role="tab" data-toggle="tab"
          >Long Travelled Stories</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <!-- Tab1 - Latest Product -->
      <div id="latest" role="tabpanel" class="tab-pane fade active show">
        <div class="row col-12 d-flex">
          <div
            id="new-product"
            class="product-item-4 col-12 col-sm-6 col-md-3"
            *ngFor="let item of storiesList"
          >
            <!-- item.1 -->
            <div class="product-item">
              <div class="product-item-inner" (click)="onSelected(item._id)">
                <div class="new-label">New</div>
                <div class="product-img-wrap h-100">
                  <img [src]="baseURL + item?.image?.path" alt="" />
                </div>
                <div class="product-button">
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Add To Whishlist"
                    ><i class="fa fa-heart"></i
                  ></a>
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Quick&nbsp;View"
                    ><i class="fa fa-eye"></i
                  ></a>
                </div>
              </div>
              <div class="product-detail">
                <p class="product-title">
                  <a (click)="onSelected(item._id)">{{ item.title }}</a>
                </p>
                <div class="product-rating">
                  <div
                    class="star-rating"
                    itemprop="reviewRating"
                    itemscope=""
                    itemtype="http://schema.org/Rating"
                    title="Rated 4 out of 5"
                  >
                    <span style="width: 60%"></span>
                  </div>
                  <a href="#" class="product-rating-count"
                    ><span class="count">3</span> Reviews</a
                  >
                </div>
                <p class="product-description">
                  {{ item.whatsHappening }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tab2 - Best Sellar -->
      <div id="best-sellar" role="tabpanel" class="tab-pane fade">
        <div class="row col-12 d-flex">
          <div
            id="popular-product"
            class="product-item-4 col-12 col-sm-6 col-md-3"
            *ngFor="let item of storiesList"
          >
            <!-- item.1 -->
            <div class="product-item">
              <div class="product-item-inner" (click)="onSelected(item._id)">
                <div class="product-img-wrap h-100">
                  <img [src]="baseURL + item?.image?.path" alt="" />
                </div>
                <div class="product-button">
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Add To Cart"
                    ><i class="fa fa-shopping-bag"></i
                  ></a>
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Add To Whishlist"
                    ><i class="fa fa-heart"></i
                  ></a>
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Quick&nbsp;View"
                    ><i class="fa fa-eye"></i
                  ></a>
                </div>
              </div>
              <div class="product-detail">
                <a class="tag" href="#">Men Fashion</a>
                <p class="product-title">
                  <a (click)="onSelected(item._id)">{{ item.title }}</a>
                </p>
                <div class="product-rating">
                  <div
                    class="star-rating"
                    itemprop="reviewRating"
                    itemscope=""
                    itemtype="http://schema.org/Rating"
                    title="Rated 4 out of 5"
                  >
                    <span style="width: 60%"></span>
                  </div>
                  <a href="#" class="product-rating-count"
                    ><span class="count">3</span> Reviews</a
                  >
                </div>
                <p class="product-description">
                  {{ item.whatsHappening }}
                </p>
                <!-- <h5 class="item-price">$39.00</h5> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tab3 - Features -->
      <div id="features" role="tabpanel" class="tab-pane fade">
        <div class="row col-12 d-flex">
          <div
            id="features-product"
            class="product-item-4 col-12 col-sm-6 col-md-3"
            *ngFor="let item of storiesList"
          >
            <!-- item.1 -->
            <div class="product-item" (click)="onSelected(item._id)">
              <div class="product-item-inner">
                <div class="product-img-wrap h-100">
                  <img [src]="baseURL + item?.image?.path" alt="" />
                </div>
                <div class="product-button">
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Add To Cart"
                    ><i class="fa fa-shopping-bag"></i
                  ></a>
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Add To Whishlist"
                    ><i class="fa fa-heart"></i
                  ></a>
                  <a
                    href="#"
                    class="js_tooltip"
                    data-mode="top"
                    data-tip="Quick&nbsp;View"
                    ><i class="fa fa-eye"></i
                  ></a>
                </div>
              </div>
              <div class="product-detail">
                <a class="tag" href="#">Men Fashion</a>
                <p class="product-title">
                  <a (click)="onSelected(item._id)">{{ item.title }}</a>
                </p>
                <div class="product-rating">
                  <div
                    class="star-rating"
                    itemprop="reviewRating"
                    itemscope=""
                    itemtype="http://schema.org/Rating"
                    title="Rated 4 out of 5"
                  >
                    <span style="width: 60%"></span>
                  </div>
                  <a href="#" class="product-rating-count"
                    ><span class="count">3</span> Reviews</a
                  >
                </div>
                <p class="product-description">
                  {{ item.whatsHappening }}
                </p>
                <!-- <h5 class="item-price">$39.00</h5> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product (Tab with Slider) -->
