<div class="container">
  <div class="row d-flex align-items-center justify-content-center py-5 mt-5">
    <div class="col-md-6" *ngIf="showDeed">
      <app-deed-description [deed]="selectedDeed"></app-deed-description>
    </div>
    <div class="col-md-3">
      <img [src]="baseURL + selectedDeed?.image?.path" alt="" />
    </div>
  </div>

  <div
    class="row d-flex align-items-center justify-content-center"
    *ngIf="showtimeline"
  >
    <div class="col-md-12">
      <app-timeline [deed]="storiesList"></app-timeline>
    </div>
  </div>
</div>
